.event-content{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.event-slick-inner{
    position: relative;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.eventslider{
    position: relative;
    padding-bottom: 80px;
}

.eventslider .slick-arrow{
    position: absolute;
    top: calc(50% - 40px);
    transform: translateY(-50%);
    background: transparent;
    display: block;
    width:20px;
    z-index: 1;
    border: 0;
    margin: 0;
}
.eventslider .slick-arrow.slick-prev{
    left: 0;
}
.eventslider .slick-arrow.slick-next{
    right: 0;
}
.eventslider ul.slick-dots {
    bottom: 20px;
}
.eventslider .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding:0;
    margin: 0;
    width: 100%;
}
.eventslider ul.slick-dots li button {
    padding: 0;
    border: 1.6px solid transparent;
    border: 1px solid transparent;
    border-radius: 50%;
}
.eventslider .slick-dots li button {
    border: 0;
    background: 0 0;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
}
.eventslider .dots li button:before {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.eventslider .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2022";
    width: 20px;
    height: 20px;
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color:#4255A4;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.eventslider ul.slick-dots li, .eventslider ul.slick-dots li button {
    height: 27.2px;
    width: 25.6px;
}
.eventslider ul.slick-dots li {
    margin: 0 3.2px;
}
.eventslider .slick-dots li, .eventslider .slick-dots li button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.eventslider .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.eventslider .slick-dots li button:before {
    opacity: 1;
    width: 12.8px;
    height: 14.4px;
    border-radius: 50%;
    background-color:#4255A4;
    content: "";
    top: 4.5px;
    left: 5.6px;
}
.eventslider .slick-dots li.slick-active {
    width: 25.6px;
    width: 1.6rem;
}
.eventslider ul.slick-dots li.slick-active button {
    width: 25.6px;
    width: 1.6rem;
    height: 27.2px; 
    height: 1.7rem;
    border-color:#4255A4;
}
.eventslider ul.slick-dots li.slick-active button:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.eventslider .slick-dots li button, .eventslider ul.slick-dots li button:before {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.eventslider .slick-arrow{font-size: 0px;background-color: rgba(0,0,0,0.4);
    padding: 5px;}
.eventslider .slick-arrow:before{font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.eventslider .slick-prev:before{content: "\e64a";left: -5px;}
.eventslider .slick-next:before{content: "\e649";right:5px;}
.event-content h2{
    text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
    color: white;
}
.courses-actives .properties__img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width:100%;
}
.courses-area .properties__card{
    height: 100%;
}
.courses-actives .slick-track{
    display: flex;
}
.courses-actives .properties{
    height:inherit;
} 
.courses-area .properties__caption {
    display: flex;
    flex-direction: column;
    height: calc(100% - 250px);
}
.courses-area .properties__caption a{
    margin-top: auto;
}
.row .properties__card{
    height: 100%;
}
.row .slick-track{
    display: flex;
}
.row .properties{
    height:inherit;
} 
.row .properties__caption {
    display: flex;
    flex-direction: column;
    height: calc(100% - 250px);
}
.row .properties__caption a{
    margin-top: auto;
}
.row .properties__img  {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width:100%;
}

